
/* iPhone 5 */
@media (max-device-width: 568px) {

  .above-fold-panel {
    padding-top: 40%;
    height: 100vh;
  }

  .above-fold-panel h1 {
    font-size: 38px;
  }

  .above-fold-panel h2 {
    font-size: 3.5rem;
  }

  .upper,
  .lower {
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  ul.social-media-links {
    padding: 0;
  }

  #explore {
    margin-top: 15%;
  }

  .about-me p {
    font-size: 16px;
    padding: 0 5%;
    line-height: 28px
  }
}

@media (max-width: 991px) {

  .squarebox {
    width: 90%;
    margin: 3% auto;
  }

  #brewed {
    background-position: 6% 50%;
  }
}

@media (max-width: 1149px) {
  .vertical-center {
      top: 0%;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
  }

  .about-me {
    height: auto;
    padding: 3rem 0;
  }
}
