
/* iPhone 5 */
@media (max-device-width: 568px) {

  .above-fold-panel {
    margin: 40% 0;
    height: auto;
  }

  .above-fold-panel h1 {
    font-size: 38px;
  }

  .above-fold-panel h2 {
    font-size: 3.5rem;
  }

  .upper,
  .lower {
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  ul.social-media-links {
    padding: 0;
  }

  #learn-more {
    font-size: 4rem;
  }

  .about-me p {
    margin: 0;
  }

  .why-kajabi p,
  .random-facts p {
    padding: 0 10%;
  }
}

@media (max-width: 991px) {
  #box-grid {
    height: auto;
  }

  .square-box,
  .misc-info {
    height: auto;
    padding: 5% 0;
  }

  #photoset,
  #programming-box {
    height: 30rem;
  }

  .why-kajabi p,
  .random-facts {
    padding: 0 10%;
  }

  .project-image {
    margin: 10% 0;
  }
}

@media (max-width: 1149px) {
  .misc-info {
    height: auto;
  }

  .vertical-center {
      top: 0%;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}