
/* iPhone 5 */
@media (max-device-width: 568px) {

  .above-fold-panel {
    margin: 50% 0;
    height: auto;
  }

  .above-fold-panel h1 {
    font-size: 38px;
  }

  ul.social-media-links {
    padding: 0;
  }

  .about-me p {
    margin: 0;
  }

  .why-mx p,
  .random-facts p {
    padding: 0 10%;
  }

  .project-image {
    margin: 10% 0;
  }
}

