/* iPhone 5 */
@media (max-device-width: 568px) {
  .above-fold-panel h1 {
    font-size: 4rem;
  }

  ul.social-media-links {
    padding: 0;
  }

  .about-me p {
    margin: 0;
  }

  .why-mx p {
    padding: 0 10%;
  }
}