@font-face {
  font-family: "GothamLight";
  src: url(../fonts/GothamLight.ttf);
}

@font-face {
  font-family: "GothamBold";
  src: url(../fonts/GothamBold.ttf);
}

body {
  font-family: "GothamLight";
}

.container-fluid,
.col-md-6,
.col-md-12,
.col-md-4 {
  padding: 0;
}

ul {
  list-style-type: none;
}
/* Above the Fold Styling */

.above-fold-panel {
  height: 100vh;
  text-align: center;
  opacity: 0;
}
.upper,
.lower {
  height: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.above-fold-panel h1 {
  font-size: 6rem;
  margin: 0 0 0 2%;
}

.above-fold-panel h3 {
  margin: 2% 0;
}

.above-fold-panel h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.social-media-links {
  list-style-type: none;
}

.social-media-links li {
  display: inline;
  padding: 0 3%;
}
.social-media-links a {
  color: #00c3ff;
}

#learn-more {
  font-size: 5rem;
  color: black;
}

#learn-more:hover {
  text-decoration: none;
  color: #545454;
}

/* End */

#box-grid {
  height: 100rem;
}


.square-box {
  height: 50rem;
  text-align: center;
  background-color: #e4e4e4;
}

.square-box h1,
.why-pco h1,
.projects h1 {
  margin: 0;
}

.square-box p {
  text-align: justify;
  padding: 0% 10%;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .vertical-center {
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

#photoset {
  background-image: url(../imgs/payoff-photo.jpg);
  background-size: cover;
  background-position: 60% 30%;
  background-repeat: no-repeat;
}

#programming-box {
  background-image: url(../imgs/macbook.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.misc-info {
  height: 35rem;
  text-align: center;
}

#random {
  background-color: #e4e4e4;
}

.random-facts {
  padding: 0 20%;
}

.why-pco p {
  text-align: justify;
  padding: 0% 25%;
}

.projects {
  height: 40rem;
  margin-top: 3%;
  margin-bottom: 3%;
}
.projects h1 {
  text-align: center;
  margin-bottom: 2%;
}

#dbc-rpg img {
  background-position: 95% 50%;
  width: 100%;
}

#brewed img {
  background-position: 10% 50%;
  width: 100%;
}

#jacket img {
  background-position: 50% 50%;
  width: 100%;
}

.lakers {
  color: #fdb927;
}

.packers {
  color: #203731;
}

.dodgers {
  color: #005596;
}

/* iPhone 5 */
@media (max-device-width: 568px) {

  .above-fold-panel {
    margin: 40% 0;
    height: auto;
  }

  .above-fold-panel h1 {
    font-size: 38px;
  }

  .above-fold-panel h2 {
    font-size: 3.5rem;
  }

  .upper,
  .lower {
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  ul.social-media-links {
    padding: 0;
  }

  #learn-more {
    font-size: 4rem;
  }

  .about-me p {
    margin: 0;
  }

  .why-pco p,
  .random-facts p {
    padding: 0 10%;
  }
}

@media (max-width: 991px) {
  #box-grid {
    height: auto;
  }

  .square-box,
  .misc-info {
    height: auto;
    padding: 5% 0;
  }

  #photoset,
  #programming-box {
    height: 30rem;
  }

  .why-pco p,
  .random-facts {
    padding: 0 10%;
  }

  .project-image {
    margin: 10% 0;
  }
}

@media (max-width: 1149px) {
  .misc-info {
    height: auto;
  }

  .vertical-center {
      top: 0%;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}
